*{
    border: 0;
    padding: 0;
    margin: 0;
}


.lmj-banner {
	background-color: #ef382d;
	text-align: right;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
    color: white;
	font-size: 2em;
  	text-align: right; 
    margin: 0 20px;
    text-align: center;    
}

.lmj-logo {
	height: 80px;
	width: auto;
}

.btn-primary:hover::before{
	transform: scale(1.2);
	transition: 5s;
}
.btn-primary:hover::after{
	transform: scale(1);
	transition: 5s;
}