*{
    border: 0;
    padding: 0;
    margin: 0;
}


.lmj-banner {
	background-color: #ef382d;
	text-align: right;
	padding: 15px;
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
}

.lmj-title {
    color: white;
	font-size: 2em;
  	text-align: right; 
    margin: 0 20px;
    text-align: center;    
}

.lmj-logo {
	height: 80px;
	width: auto;
}

@property --c1 {
  syntax: '<color>';
  inherits: false;
  initial-value: #30CFD0;
}
@property --c2 {
  syntax: '<color>';
  inherits: false;
  initial-value: #330867;
}

.btn-primary{
	font-weight: bold;
	background-color: linear-gradient(90deg, #30CFD0, #330867, #ff7e5f, #feb47b );
	background-size: 300% 100%;
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
	-webkit-text-fill-color: transparent;
	background-position: 0% 50%;
	transition: --c1 3s, --c2 3s;
}

.btn-primary:hover{
	--c1: #ff7e5f; 
  	--c2: #feb47b;
}