.gt-table h3 {
    color: #ef382d;
    text-align: center;
}

 tr:nth-child(even) {
    background-color: white; 
}

tr:nth-child(odd) {
    background-color: grey; 
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

