h3 {
    color: red;
    text-align: center;
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris */
}

.table tbody tr:nth-child(odd) {
    background-color: white; /* Blanc */
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
}

