.gt-table h3 {
    color: #ef382d;
    text-align: center;
}

.gt-element > .table tbody tr:nth-child(even) {
    background-color: white; 
}

.gt-element > .table tbody tr:nth-child(odd) {
    background-color: #f2f2f2; 
}

.table td, .table th {
    vertical-align: middle;
    text-align: center;
    padding: 10px;
}

